@import url(comp_css/home.css);
@import url(comp_css/product.css);
@import url(comp_css/about.css);
@import url(comp_css/contact.css);
:root {
    scroll-behavior: smooth;
    
}
html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none; 
}
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.desktop-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 51px;
    text-align: left;
    font-size: 46px;
    color: #2d3748;
    font-family: Poppins;
}
