.facebook-icon, .apple-icon, .google, .google-child, .email, .inputfieldtext, .minwidth1, .switchbase, .buttonbase, .width-structure, .minwidth, .height-structure, .button-body, .text, .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title, .register-with1, .facebook-icon, .google-child, .password1, .switchbase, .remember-me1, .background1, .background-item, .background, .background-child {
  position: absolute;
  top: 0;
  left: 0;
}

.facebook-icon, .apple-icon, .google-child {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  border: 1px solid #cdcdcd;
}

.background-child {
  background-color: #cdcdcd;
  width: 100vw;
  height: auto;
}

.background-item {
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background-color: #fff;
  width: 452.5px;
  height: 713.5px;
}

.background1 {
  width: 452.5px;
  height: 713.5px;
}

.b {
  color: #4fd1c5;
}

.already-have-an-container {
  position: absolute;
  top: 676.5px;
  left: 114.5px;
  line-height: 140%;
  text-align: center;
  display: inline-block;
  width: 213px;
  height: 19.5px;
}

.icon {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}

.text {
  width: 41.5px;
  position: relative;
  line-height: 150%;
  height: 15px;
  flex-shrink: 0;
}

.button-body {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.height-structure {
  height: 24px;
  justify-content: flex-start;
}

.content {
  width: 0px;
  position: relative;
  background-color: #c4c4c4;
  height: 0px;
}

.minwidth {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 12px;
}

.width-structure {
  flex-direction: column;
  overflow: hidden;
}

.buttonbase {
  position: absolute;
  height: 6.31%;
  width: 77.35%;
  top: 85.42%;
  right: 12.49%;
  bottom: 8.27%;
  left: 10.17%;
  border-radius: 12px;
  background-color: #4fd1c5;
  padding: 0px 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  color: #fff;
}

.remember-me1 {
  left: 46px;
  line-height: 150%;
  display: inline-block;
  width: 79.5px;
  height: 18px;
}

.switchbase-child {
  width: 13.5px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  height: 13.5px;
}

.switchbase {
  height: 100%;
  width: 28.69%;
  right: 71.31%;
  bottom: 0%;
  border-radius: 97.74px;
  background-color: #4fd1c5;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.4px 2.5px 1.4px 1.4px;
  box-sizing: border-box;
}

.remember-me {
  position: absolute;
  top: 555px;
  left: 46px;
  width: 125.5px;
  height: 18.5px;
  font-size: 12px;
  color: #2d3748;
}

.your-password {
  width: 92.5px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  height: 19.5px;
  flex-shrink: 0;
}

.password-text-icon {
  width: 35px;
  position: relative;
  height: 3.5px;
  display: none;
}

.content1 {
  width: 0px;
  position: relative;
  height: 0px;
}

.minwidth1 {
  overflow: hidden;
  padding: 0px 74px;
}

.inputfieldtext {
  width: 311px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}

.email {
  position: absolute;
  height: 66.67%;
  width: 100%;
  top: 33.33%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0px 20px;
}

.password1 {
  left: 4.5px;
  line-height: 140%;
  color: #2d3748;
  display: inline-block;
  width: 61.5px;
  height: 19.5px;
}

.password {
  position: absolute;
  height: 10.51%;
  width: 77.35%;
  top: 63.91%;
  right: 12.49%;
  bottom: 25.58%;
  left: 10.17%;
}

.your-email-address {
  width: 119.5px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  height: 19.5px;
  flex-shrink: 0;
}

.email3 {
  position: absolute;
  top: 0px;
  left: 4.5px;
  line-height: 140%;
  color: #2d3748;
  display: inline-block;
  width: 35.5px;
  height: 19.5px;
}

.email1 {
  position: absolute;
  height: 10.51%;
  width: 77.35%;
  top: 50.04%;
  right: 12.49%;
  bottom: 39.45%;
  left: 10.17%;
}

.your-full-name {
  width: 89.5px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  height: 19.5px;
  flex-shrink: 0;
}

.name2 {
  position: absolute;
  top: 0px;
  left: 4.5px;
  line-height: 140%;
  color: #2d3748;
  display: inline-block;
  width: 37.5px;
  height: 19.5px;
}

.name {
  position: absolute;
  height: 10.51%;
  width: 77.35%;
  top: 36.16%;
  right: 12.49%;
  bottom: 53.33%;
  left: 10.17%;
}

.google-child {
  box-sizing: border-box;
  font-size: 22px;
}

.google {
  position: absolute;
  top: 47px;
  left: 180px;
  color: #2d3748;
}

.apple-icon {
  position: absolute;
  top: 47px;
  left: 90px;
  font-size: 25px;
  color: #2d3748;
}

.facebook-icon {
  top: 47px;
  font-size: 25px;
  color: #2d3748;
}

.or {
  position: absolute;
  top: 142.5px;
  left: 47.5px;
  line-height: 140%;
  display: inline-block;
  width: 18.5px;
  height: 25px;
}

.register-with1 {
  line-height: 140%;
  display: inline-block;
  color: #2d3748;
  width: 113.5px;
  height: 25px;
}

.title {
  left: 70.5px;
  width: 113.5px;
  height: 167.5px;
}

.register-with {
  position: absolute;
  top: 73.5px;
  left: 93.5px;
  width: 255px;
  height: 167.5px;
  text-align: center;
  font-size: 18px;
}

.inputs {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 452.5px;
  height: 713.5px;
  margin-top: 5vw;
}

.container {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 14px;
  color: #a0aec0;
  font-family: Helvetica;
}/*# sourceMappingURL=style.css.map */